[submodule "src/sensors_and_observers/src/cui-devices-amt-10x-driver"]
	path = src/sensors_and_observers/src/cui-devices-amt-10x-driver
	url = https://github.com/BioMorphic-Intelligence-Lab/cui-devices-amt-10x-driver
